* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box !important;
    color: aliceblue;
}

.affix {
    top: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px;
}

.affix + .container-fluid {
    padding-top: 0px;
    border-radius: 0px;
}

body {
    font-family: Arial;
    font-size: 17px;
    padding: 0px;
}

.navbar {
    border-radius: 0px;
}

.text-center {
    align-content: center;
    align-self: center;
}

.row {
display: -ms-flexbox; /* IE10 */
display: flex;
-ms-flex-wrap: wrap; /* IE10 */
flex-wrap: wrap;
margin: 0px;
}

.col-25 {
-ms-flex: 25%; /* IE10 */
flex: 25%;
}

.col-50 {
-ms-flex: 50%; /* IE10 */
flex: 50%;
}

.col-75 {
-ms-flex: 75%; /* IE10 */
flex: 75%;
}

.col-25,
.col-50,
.col-75 {
padding: 0px;
}

.container {
background-color: rgb(0, 0, 0);
width: auto;
padding: 5px 10px;
border: 1px solid black;
border-radius: 0px;
}
.container_all {
    background-color: rgb(0, 0, 0);
    width: auto;
    padding: 0px 20%;
    border: 1px solid black;
    border-radius: 0px;
    }
    

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color:lightgrey;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
margin-bottom: 10px;
display: block;
}
select {
    color: black;
}
.icon-container {
margin-bottom: 20px;
padding: 7px 0;
font-size: 24px;
}

.btn {
background-color: #4CAF50;
color: white;
padding: 12px;
margin: 10px 0;
border: none;
width: 100%;
border-radius: 0px;
cursor: pointer;
font-size: 17px;
}

.btn:hover {
background-color: #45a049;
}

.btn:active {
background-color: rgb(15, 66, 8);  
}

a {
color: black;
}

hr {
border: 1px solid lightgrey;
}

span .price {
float: right;
color: grey;
}

#myProgress {
    width:100%;
    background-color: grey;
    margin: 20px 10px 10px 0px;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
.row {
    flex-direction: column-reverse;
}
.col-25 {
    margin-bottom: 20px;
}
}
